.modal {
  background-color: color(#010721 alpha(75%));

  &__box {
    box-shadow: 0 15px 35px -15px color(#000000 alpha(20%));
    text-align: center;

    &--green {
      background-color: var(--color-green);
    }

    &--left {
      text-align: left;
    }

    &--wide {
      @media (--screen-md) {
        width: 70%;
      }

      @media (--screen-primary) {
        width: 50%;
      }
    }
  }

  &__content {
    @media (--screen-md) {
      padding: 30px;
    }
  }

  &__close {
    transition: 0.15s ease;
    cursor: pointer;

    &:focus,
    &:hover {
      opacity: 0.8;
      outline: none;
    }
  }

  &__close-icon {
    &--white {
      fill: #ffffff;
    }

    &--secondary {
      fill: var(--color-secondary);
    }
  }
}
