.text {
  margin: 1em 0;
  font-weight: 400;
  font-size: 1rem;
  font-family: var(--font-main);
  line-height: 1.4em;

  &--light {
    color: var(--color-light-text);
  }

  &--small {
    font-size: 0.8rem;
  }

  &--white {
    color: #fff;
  }

  &--semibold {
    font-weight: 500;
  }
}
