@import '../../styles/_variables.css';

.button {
  padding: 0.4rem 2rem;
  font-weight: 600;
  font-size: 0.8rem;
  font-family: var(--font-main);
  background-color: transparent;
  border: 2px solid #e2e2e2;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.15s ease;
  appearance: none;

  &:hover,
  &:focus {
    border-color: #cfcfcf;
    outline: none;
  }

  &--big {
    padding: 0.7rem 2rem;
    font-size: 1rem;
  }

  &--purple {
    color: var(--color-purple);
    border-color: var(--color-purple);

    &:hover,
    &:focus {
      color: color(var(--color-purple) blackness(35%));
      border-color: color(var(--color-purple) blackness(35%));
    }
  }

  &--filled-purple {
    color: #ffffff;
    background-color: var(--color-purple-bright);
    border-color: var(--color-purple-bright);
    box-shadow: 0 0.6rem 1.5rem -0.6rem var(--color-purple-bright);

    &:hover,
    &:focus {
      background-color: color(var(--color-purple-bright) blackness(40%));
      border-color: color(var(--color-purple-bright) blackness(40%));
    }
  }

  &--green {
    color: var(--color-green);
    border-color: var(--color-green);

    &:hover,
    &:focus {
      color: color(var(--color-green) blackness(35%));
      border-color: color(var(--color-green) blackness(35%));
    }
  }

  &--white {
    color: #ffffff;
    border-color: #ffffff;

    &:hover,
    &:focus {
      color: color(#ffffff alpha(60%));
      border-color: color(#ffffff alpha(60%));
    }
  }

  &--add {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 1.2rem;
      display: block;
      width: 10px;
      height: 10px;
      background: transparent url('./add.svg') no-repeat center;
      background-size: 100%;
      transform: translateY(-50%);
    }
  }
}
