@import '../../styles/_variables.css';

.button {
  padding: 0.4rem 2rem;
  font-weight: 600;
  font-size: 0.8rem;
  font-family: var(--font-main);
  background-color: transparent;
  border: 2px solid #e2e2e2;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.15s ease;
  appearance: none;

  &:hover,
  &:focus {
    border-color: #cfcfcf;
    outline: none;
  }

  &--big {
    padding: 0.7rem 2rem;
    font-size: 1rem;
  }

  &--save {
    color: var(--color-green);
    border-color: var(--color-green);

    &:hover,
    &:focus {
      border-color: color(var(--color-green) blackness(35%));
    }
  }

  &--add {
    position: relative;
    color: var(--color-green);
    border-color: var(--color-green);

    &:hover,
    &:focus {
      border-color: color(var(--color-green) blackness(35%));
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 1.2rem;
      display: block;
      width: 10px;
      height: 10px;
      background: transparent url('./add.svg') no-repeat center;
      background-size: 100%;
      transform: translateY(-50%);
    }
  }
}
