@import '../../styles/_variables.css';

.list {
  overflow: hidden;
  font-size: 1rem;
  font-family: var(--font-main);
  border-radius: 0.2em;

  &__item {
    margin: 1px 0;
    line-height: 1.4em;
  }

  &__button {
    width: 100%;
  }
}
