@import '../../styles/_variables.css';

.list {
  overflow: hidden;
  font-size: 1rem;
  font-family: var(--font-main);
  text-align: left;
  border-radius: 4px;

  &__item {
    margin: 1px 0;
    line-height: 1.4em;
    list-style: none;
    perspective: 1000px;

    &:first-child {
      margin-top: 0;

      .list__button {
        animation: ShowScale 0.5s;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--sortable {
      .list__button {
        transform-origin: center;
        animation: ScaleButton 0.2s;
        animation-fill-mode: forwards;
      }
    }
  }

  &__button {
    width: 100%;
    box-shadow: none;
    transform-origin: top;
    animation: ShowRotate 0.2s;
  }
}

@keyframes ShowRotate {
  from {
    transform: rotateX(-40deg);
    opacity: 0;
  }

  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes ShowScale {
  from {
    transform: scale(0.92);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ScaleButton {
  from {
    border-radius: 0;
    box-shadow: none;
    transform: scale(1);
  }

  to {
    border-radius: 4px;
    box-shadow: 0 10px 45px -10px color(var(--color-secondary) a(35%));
    transform: scale(1.02);
  }
}
