* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  background-color: var(--color-main);
  /* background-color: #F3F9FF; */
  /* background-image: linear-gradient(135deg, #e2effd 0%, #e0e6fc 100%); */
}
