* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  background-color: #ffffff;
  /* background-color: #F3F9FF; */
  background-image: linear-gradient(45deg, var(--color-main) 0%, #f0f5fb 80%);
  background-attachment: fixed;
  background-size: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}