:root {
  --font-main: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  
  --color-light-blue: #f0f4f6;
  --color-light-text: #b3b3b3;
  --color-green: #1ac791;
  --color-main: var(--color-light-blue);
}
