:root {
  --font-main: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  
  --color-semi-dark: color(#000000 a(25%));
  --color-dark: #2c2c2c;
  --color-light-blue: #e1e9f3;
  --color-light-text: color(#000000 a(50%));
  --color-green: #1ac791;
  --color-purple: #48486b;
  --color-purple-bright: #4b5eb9;
  --color-orange: #ffc107;
  --color-red: #f44336;
  --color-main: var(--color-light-blue);
  --color-secondary: var(--color-purple);
}
