@import '../../styles/_media.css';
@import '../../styles/_variables.css';

.app {
  padding: 15px 0 65px;

  @media (--screen-md) {
    padding: 0 0 15px;
  }

  &__header {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 -10px 25px -10px color(var(--color-secondary) alpha(15%));

    @media (--screen-md) {
      position: relative;
      box-shadow: none;
    }
  }
}
