@import '../../styles/_variables.css';
@import '../../styles/_media.css';

.label {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  font-weight: 600;
  font-size: 0.65rem;
  line-height: 1.4rem;
  border-radius: 5rem;

  @media (--screen-md) {
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
  }

  &--new {
    color: #ffffff;
    background-color: var(--color-purple-bright);
    box-shadow: 0 0.6rem 1.5rem -0.6rem var(--color-purple-bright);
  }

  &--recent {
    color: #ffffff;
    background-color: var(--color-orange);
    box-shadow: 0 0.6rem 1.5rem -0.6rem var(--color-orange);
  }
}
