@import '../../styles/_media.css';
@import '../../styles/_variables.css';

.navbar {
  background-color: #ffffff;

  &__list {
    display: flex;
    margin: 0 -15px;
    padding: 0;
    font-size: 1rem;
    list-style: none;
  }

  &__item {
    width: 25%;
    height: 50px;

    @media (--screen-md) {
      width: auto;
      height: auto;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 1em;
    font-family: var(--font-main);
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
    border: none;
    border-bottom: 3px solid transparent;

    @media (--screen-md) {
      width: auto;
      height: auto;
      margin: 0 15px;
      border-width: 2px;
    }

    &--home {
      background-image: url('./home.svg');

      @media (--screen-md) {
        background-image: none;
      }
    }

    &--music {
      background-image: url('./music.svg');

      @media (--screen-md) {
        background-image: none;
      }
    }

    &--history {
      background-image: url('./history.svg');

      @media (--screen-md) {
        background-image: none;
      }
    }

    &--active {
      border-color: var(--color-secondary);
    }
  }

  &__counter {
    position: absolute;
    right: 20%;
    bottom: 5px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.4em;
    height: 1.4em;
    color: #ffffff;
    font-size: 0.85em;
    text-align: center;
    background-color: #f44336;
    border-radius: 50%;
  }

  &__text {
    display: none;

    @media (--screen-md) {
      display: block;
      margin: 0;
    }
  }
}
