@import '../../styles/_variables.css';

.history {
  margin-bottom: 15px;
  padding: 30px;
  font-size: 1rem;
  font-family: var(--font-main);
  background-color: #ffffff;
  border-radius: 4px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__date {
    color: var(--color-secondary);
    font-weight: 600;
  }

  &__day {
    color: var(--color-secondary);
    font-weight: 400;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: section;
  }

  &__list-item {
    position: relative;
    margin: 20px 0;
    padding-left: 20px;
    color: var(--color-secondary);
    line-height: 1;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 600;
      counter-increment: section;
      content: counter(section);
    }
  }
}
