@import '../../styles/_variables.css';
@import '../../styles/_media.css';

.song-item {
  padding: 1em;
  font-size: 1rem;
  font-family: var(--font-main);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 10px 25px -10px color(var(--color-secondary) a(15%));

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1em;

    @media (--screen-md) {
      flex-direction: row;
    }
  }

  &__label-box {
    display: flex;
    margin-top: 15px;

    @media (--screen-md) {
      margin-top: 0;
      margin-left: auto;
    }
  }

  &__label {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 1.125em;
  }

  &__info {
    margin-bottom: 1em;
  }

  &__button {
    @media print {
      display: none;
    }
  }

  &__text {
    margin: 5px 0;
  }
}
