@import '../../styles/_variables.css';

.song-item {
  padding: 1em;
  font-size: 1rem;
  font-family: var(--font-main);
  background-color: #ffffff;
  border-radius: 0.2em;

  &__title {
    margin-bottom: 1em;
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 1.125em;
  }

  &__info {
    margin-bottom: 1em;
  }
}
