.icon-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;
  border-radius: 0;
  cursor: pointer;
  opacity: 0.25;
  transition: 0.15s ease;
  appearance: none;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &--close {
    background-image: url('./close.svg');
  }

  &--edit {
    background-image: url('./edit.svg');
  }
}
