@import '../../styles/_variables.css';

.song-button {
  display: flex;
  font-size: 1rem;
  font-family: var(--font-main);
  background-color: #ffffff;

  &__inner {
    flex: 1;
    padding: 15px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: var(--color-secondary);
    font-weight: 500;
  }

  &__close {
    margin-left: 10px;
  }

  &__handle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    padding: 8px;
    background: var(--color-main) url('./handler.svg') center no-repeat;
    background-size: 100%;
    background-origin: content-box;
    opacity: 0.2;
  }
}
