@import '../../styles/_variables.css';

.song-button {
  padding: 15px;
  font-size: 1rem;
  font-family: var(--font-main);
  background-color: #ffffff;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: var(--color-secondary);
    font-weight: 500;
  }

  &__close {
    margin-left: 10px;
  }
}
