@import '../../styles/_variables.css';

.message {
  margin: 1em 0;
  padding: 15px;
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 1rem;
  font-family: var(--font-main);
  line-height: 1.2em;
  text-align: left;
  background-color: color(#ffffff a(40%));
  border-radius: 4px;

  &--success {
    color: color(var(--color-green) blackness(35%));
    background-color: color(var(--color-green) a(10%));
    border: 1px solid color(var(--color-green) a(10%));
  }
}
